body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #33425ff3;
}

.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav img.logo{
    float: left;
    padding-left: 10px;
    width: 54px;
}
.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color: #0483aa;
    color: white;
}

.topnav p{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    font-size: 17px;
}

.about h1{
    text-align: center;
}

.about h2{
    text-align: center;
}
.about a{
    text-decoration: none;
}